{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error"],
    "no-console": "off",
    "prefer-template": "off",
    "arrow-body-style": "warn",
    "no-await-in-loop": "off"
  }
}
